
div#tbl-container {
	width: 100%;
	height: 100%;
	overflow: auto;
	border: 1px solid;
	border-color: #ababab;
}
.tbl_contain {
	width: 100%;
	height: 75%;
	overflow: auto;
	border: 0px solid;
	border-color: #ffffff;
}

table {
	table-layout: automatic;
	background-color: #ffffff;
	/*border-width: 1px;*/
}


th, th.locked	{
	position:relative;
/*	color: #ffffff;
	text-align: center;
	background-color: #CC0001;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;*/
	/*padding: 5 5 5 5;*/
/*	border-width: 1px;*/
}
	
th {
	top: expression(document.getElementById("tbl-container").scrollTop-1); /*IE5+ only*/
	z-index: 20;
}


th.locked {
	left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft-1); /*IE5+ only*/
	z-index: 30; 
}


td, td.locked {
	/*font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*padding: 2 5 2 5;*/
/*	border-width: 1px;*/
}

td {
	background-color: #ffffff;
	z-index: 0;
}

td.locked {
	background-color: #000099;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft-1); /*IE5+ only*/
	position: relative;
	z-index: 10;
}





