/* body, paragraph */
body{
  font-size: 62.5%;
}

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
	color: #000000;
	margin: 10px 0px 10px;
	padding: 0px 0px 0px 5px;
}

ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	margin-top: 5px;
	margin-bottom: 10px;
	list-style-position: outside;
	clear: left;
	list-style-image: url(/pics/bullet.gif);
}

ol {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	margin-top: 5px;
	margin-bottom: 10px;
	list-style-position: outside;
	clear: left;
}
	
ul li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 10pt;
	margin: 0px 5px 5px -20px;
	padding: 0px;
	text-align: left;
	font-weight: normal;
}

ol li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 10pt;
	margin: 0px 5px 5px -10px;
	padding: 0px;
	text-align: left;
}

a {
	color: #000099;
}

a:visited {
	color: #000099;
}

a:hover {
	color: #FE9900;
}

a:active {
	color: #FE9900;
}
a.breadcrumb {
	text-decoration: none;
}

/* SUBSCRIPT */
.sub {
	color: #777777;
	font-style: italic;
	vertical-align: baseline;
	font-size: 0.8em;
	position: relative;
	bottom: -0.4em;
}


/* heading fields */
.title {
	text-align: center;
	font-weight: bold;
	font-size: 22pt;
	line-height: 22pt; 
	vertical-align: middle;
}
h1 {
	text-decoration: none;
	font-size: 18pt;
	line-height: 20pt;
	font-weight: bold;
	padding: 0 0 0 0;
	margin: 15 0 10 5;
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	color: #000099;
	letter-spacing: 0.07em;
}
h2 {
	text-decoration: none;
	font-size: 14pt;
	line-height: 17pt;
	font-weight: bold;
	padding: 0 0 0 0;
	margin: 15 0 10 5;
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	color: #000099;
	letter-spacing: 0.07em;
}
h3 {
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 12pt;
	line-height: 14pt;
	font-weight: bold;
	padding: 0 0 0 0;
	margin: 15 0 10 5;
	letter-spacing: 0.07em;
	color: #000099;
}
h4 {
	font-family:  Verdana, Arial, Helvetica, sans-serif;  
	font-size: 9pt;
	font-weight: bold;
	color: #000099;
}

h5 {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #000099;
	letter-spacing: 0.07em;
	margin: 0px 0px;
	padding: 0px;
}


/*form fields*/
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
}
input {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 8pt;
}

textarea {
    font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
}




/* table */
table {
	border-collapse: collapse;
	border: solid 1px #ababab;
}

table td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
	color: #000000;
	border: 1px solid #ababab;
	vertical-align: top;
	padding: 5px 5px 5px 5px;
	text-align: left;
}

table th {
	background-color: #000099;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	text-align: center;
	font-weight: bold;
	line-height: 12pt;
	color: #ffffff;
	padding: 5px 5px 5px 5px;
	border: 1px solid #ffffff;
}

table th.th2 {
	background-color: #ccccff;
	color: #000000;
	border: 1px solid #FFFFFF;
}
table th.thsub {
	background-color: #5959ff;
	color: #ffffff;
	border: 1px solid #FFFFFF;
}
table.form th {
	text-align: left;
	vertical-align: top;
	padding-right: 15px;
}
table.form td {
	border: 1px solid #ababab;
}
table.list th {
}
table.list td {
}


/* shortcuts */
.noborder { border: solid 0px #ffffff; }
.backcolor { background-color: #000099; }
.blank { background-color: #ffffff; }
.tdhover { background-color: #efefef; }
.trhover2 { background-color: #d8d8d8; }
.trhover-dark { background-color: #d8d8d8; }
.trhover { background-color: #efefef; }
.showborder { border: 1px solid #ababab; }
.color { color: #000099; }
.float { float: right; }
.required { color: #FFFFFF; background-color: #CC0001; }
.ok { color: #FFFFFF; background-color: #009900; }
.inact { background-color: #cccccc; color: #333333; }
.inact2 { background-color: #eeeeee; color: #555555; }

/* alignment */
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
.middle { vertical-align: middle; }
.top { vertical-align: top; }
.bottom { vertical-align: bottom; }

/* font styles */
.b { font-weight: bold; }
.u { text-decoration: underline; }
.i { font-style: italic; }
.n { text-decoration: none; font-weight: normal; font-style: none; }

/* Colours */
.red { color: #cc0001; }
.orange { color: #fe9900; }
.green { color: #009900; }
.blue { color: #000099; }

/* Colour borders */
.red-border { border-color: #cc0001; }
.orange-border { border: 1px solid #fe9900; }
.green-border { border-color: #009900; }
.blue-border { border-color: #000099; }

input.orange-border { border: 1px solid #fe9900; padding: 2px; }


/* Buttons */
.isubmit {
	color: #009900;
	font-weight: bold;
	line-height: 1.5em;
}
.idelete {
	color: #CC0001;
	font-weight: bold;
	line-height: 1.5em;
}
.iinform {
	color: #FE9900;
	font-weight: bold;
	line-height: 1.5em;
}

/* AUDIT LOG */
h3.log {
	color: #555555;
	margin-top: 0px;
}
table td.log {
	color: #555555;
	vertical-align: top;
}

table th.log {
    background-color: #555555;
}


/* MAIN DASHBOARD */
.overdue { color: #cc0001; }
.today { color: #009900; }
.soon { color: #FE9900; }


/* SORT */
	#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; list-style-image: none;}
	#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.0em; height: 18px; width: 200px;}
	#sortable li span { position: absolute; margin-left: -1.3em; }
	.ui-state-highlightsort { height: 1.5em; line-height: 1.2em; }

/* Styles to manage indicating ownership of objects on view */
.view-notowner { color: #999999; }
.view-notowner td { color: #999999; }
.view-notowner th { color: #efefef; background-color: #555555; }
td.view-notowner { color: #999999;  }
th.view-notowner { color: #efefef; background-color: #555555; }

.view-owner {}
.view-owner td {}
.view-owner th {}
td.view-owner {}
th.view-owner {}


/** JQUERY STYLES **/
.ui-state-ok, .ui-widget-content .ui-state-ok, .ui-widget-header .ui-state-ok  {border: 1px solid #009900; background: #efffef; color: #006600; }
.ui-state-ok a, .ui-widget-content .ui-state-ok a,.ui-widget-header .ui-state-ok a { color: #363636; }
.ui-state-yes, .ui-widget-content .ui-state-yes, .ui-widget-header .ui-state-yes  {border: 0px solid #009900; background: (); color: #006600; }
.ui-state-yes a, .ui-widget-content .ui-state-yes a,.ui-widget-header .ui-state-yes a { color: #363636; }
.ui-state-info, .ui-widget-content .ui-state-info, .ui-widget-header .ui-state-info  {border: 1px solid #fe9900; background: #fbf9ee ; color: #fe9900; }
.ui-state-info a, .ui-widget-content .ui-state-info a,.ui-widget-header .ui-state-info a { color: #363636; }
.ui-state-fail, .ui-widget-content .ui-state-fail, .ui-widget-header .ui-state-fail  {border: 0px solid #cc0001; background: () ; color: #cd0a0a; }
.ui-state-fail a, .ui-widget-content .ui-state-fail a,.ui-widget-header .ui-state-fail a { color: #363636; }
.ui-state-nothing, .ui-widget-content .ui-state-nothing, .ui-widget-header .ui-state-nothing  {border: 0px solid #fe9900; background: () ; color: #363636; }
.ui-state-nothing a, .ui-widget-content .ui-state-nothing a,.ui-widget-header .ui-state-nothing a { color: #363636; }
.ui-state-nothing .ui-icon, .ui-state-info .ui-icon {
	background-image: url(/library/jquery/css/images/ui-icons_fe9900_256x240.png);
}
.ui-state-fail .ui-icon, .ui-state-error .ui-icon {
	background-image: url(/library/jquery/css/images/ui-icons_cd0a0a_256x240.png);
}
.ui-state-ok .ui-icon, .ui-state-yes .ui-icon {
	background-image: url(/library/jquery/css/images/ui-icons_009900_256x240.png);
}
