

/*table.noborder, table.noborder td {
	border: 0px solid #FFFFFF;
}*/
table.hidden-sub-table {
	border: 0px solid #FFFFFF;
	margin: 0px;
	padding: 0px;
}
table.hidden-sub-table td {
	border: 0px solid #FFFFFF;
	margin:0px;
	padding: 3px 0px 3px 0px;
}
.small-note {
	font-style: italic;
	font-size: 75%;
}

/* don't display .no-print elements when printing doc */
@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}