
.ui-button-state-ok, .ui-widget-content .ui-button-state-ok, .ui-widget-header .ui-button-state-ok  {
	border: 0px solid #ffffff;
	background: none;
	color: #009933;
	cursor: pointer;
}
.ui-button-state-ok a, .ui-widget-content .ui-button-state-ok a,.ui-widget-header .ui-button-state-ok a {
	color: #363636;
	padding: 0px;
	cursor: pointer;
}

.ui-button-state-info, .ui-widget-content .ui-button-state-info, .ui-widget-header .ui-button-state-info  {border: 0px solid #ffffff; background: none; color: #fe9900; }
.ui-button-state-info a, .ui-widget-content .ui-button-state-info a,.ui-widget-header .ui-button-state-info a { color: #fe9900; }

.ui-button-state-default, .ui-widget-content .ui-button-state-default, .ui-widget-header .ui-button-state-default  {border: 1px solid #888888; background: none; color: #888888; }
.ui-ui-button-state-default a, .ui-widget-content .ui-button-state-default a,.ui-widget-header .ui-button-state-default a { color: #363636; }

.ui-state-error-button, .ui-widget-content .ui-state-error-button, .ui-widget-header .ui-state-error-button  {border: 0px solid #cc0001; background: none; color: #cd0a0a; }
.ui-state-error-button a, .ui-widget-content .ui-state-error-button a,.ui-widget-header .ui-state-error-button a { color: #363636; }


.ui-state-icon-button, .ui-widget-content .ui-state-icon-button, .ui-widget-header .ui-state-icon-button  {
	border: 0px solid #ffffff;
	background: none;
	color: #363636;
	padding: 0px;
	margin: 0px;
}
.ui-state-icon-button a, .ui-widget-content .ui-state-icon-button a,.ui-widget-header .ui-state-icon-button a { color: #363636; }

.ui-state-focus-icon-button {
	border: 0px solid #ffffff;
	background: #ffffff;
	color: #FE9900;
	padding: 0px;
	margin: 0px;
}

.ui-button-state-error .ui-icon {
	background-image: url(/library/images/ui-icons_cc0001_256x240.png);
}
.ui-button-state-ok .ui-icon {
	background-image: url(/library/images/ui-icons_009900_256x240.png);
}
.ui-button-state-blue .ui-icon {
	background-image: url(/library/images/ui-icons_000099_256x240.png);
}
.ui-button-state-black .ui-icon {
	background-image: url(/library/images/ui-icons_222222_256x240.png);
}
.ui-button-state-info .ui-icon {
	background-image: url(/library/images/ui-icons_fe9900_256x240.png);
}

.ui-button-state-default .ui-icon {
	background-image: url(/library/images/ui-icons_888888_256x240.png);
}


.ui-button-coloured-green, .ui-widget-content .ui-button-coloured-green, .ui-widget-header .ui-button-coloured-green  {
	border: 1px solid #009933;
	background: none;
	background-color: #efffef;
	color: #009933;
	cursor: pointer;
}
.ui-button-bold-green, .ui-widget-content .ui-button-bold-green, .ui-widget-header .ui-button-bold-green  {
	border: 1px solid #009933;
	background: none;
	background-color: #ffffff;
	color: #009933;
	cursor: pointer;
}

.ui-button-state-green, .ui-widget-content .ui-button-state-green, .ui-widget-header .ui-button-state-green  {
	border: 1px solid #009933;
	background: none;
	background-color: #ffffff;
	color: #009933;
	cursor: pointer;
}

.ui-button-minor-green, .ui-widget-content .ui-button-minor-green, .ui-widget-header .ui-button-minor-green  {
	border: 0px solid #009933;
	background: none;
	color: #009933;
	cursor: pointer;
	font-size: 100%;
}
.ui-button-coloured-green .ui-icon,.ui-button-state-green .ui-icon, .ui-button-bold-green .ui-icon, .ui-button-minor-green .ui-icon {
	background-image: url(/library/images/ui-icons_009900_256x240.png);
}


.ui-button-coloured-red, .ui-widget-content .ui-button-coloured-red, .ui-widget-header .ui-button-coloured-red  {
	border: 1px solid #cc0001;
	background: none;
	background-color: #fef1ec;
	color: #cc0001;
	cursor: pointer;
}
.ui-button-bold-red, .ui-widget-content .ui-button-bold-red, .ui-widget-header .ui-button-bold-red  {
	border: 1px solid #cc0001;
	background: none;
	background-color: #ffffff;
	color: #cc0001;
	cursor: pointer;
}
.ui-button-state-red, .ui-widget-content .ui-button-state-red, .ui-widget-header .ui-button-state-red  {
	border: 1px solid #cc0001;
	background: none;
	background-color: #ffffff;
	color: #cc0001;
	cursor: pointer;
}
.ui-button-minor-red, .ui-widget-content .ui-button-minor-red, .ui-widget-header .ui-button-minor-red  {
	border: 0px solid #cc0001;
	background: none;
	color: #cc0001;
	cursor: pointer;
	font-size: 100%;
}
.ui-button-coloured-red .ui-icon, .ui-button-bold-red .ui-icon, .ui-button-state-red .ui-icon, .ui-button-minor-red .ui-icon {
	background-image: url(/library/images/ui-icons_cc0001_256x240.png);
}


.ui-button-coloured-orange, .ui-widget-content .ui-button-coloured-orange, .ui-widget-header .ui-button-coloured-orange  {
	border: 1px solid #fe9900;
	background: none;
	background-color: #fbf9ee;
	color: #fe9900;
	cursor: pointer;
}
.ui-button-bold-orange, .ui-widget-content .ui-button-bold-orange, .ui-widget-header .ui-button-bold-orange  {
	border: 1px solid #fe9900;
	background: none;
	background-color: #ffffff;
	color: #fe9900;
	cursor: pointer;
}
.ui-button-state-orange, .ui-widget-content .ui-button-state-orange, .ui-widget-header .ui-button-state-orange  {
	border: 1px solid #fe9900;
	background: none;
	background-color: #ffffff;
	color: #fe9900;
	cursor: pointer;
}
.ui-button-minor-orange, .ui-widget-content .ui-button-minor-orange, .ui-widget-header .ui-button-minor-orange  {
	border: 0px solid #fe9900;
	background: none;
	color: #fe9900;
	cursor: pointer;
	font-size: 100%;
}
.ui-button-coloured-orange .ui-icon, .ui-button-bold-orange .ui-icon, .ui-button-state-orange .ui-icon, .ui-button-minor-orange .ui-icon {
	background-image: url(/library/images/ui-icons_fe9900_256x240.png);
}

.ui-button-coloured-grey, .ui-widget-content .ui-button-coloured-grey, .ui-widget-header .ui-button-coloured-grey  {
	border: 1px solid #555555;
	background: none;
	background-color: #efefef;
	color: #555555;
	cursor: pointer;
}
.ui-button-bold-grey, .ui-widget-content .ui-button-bold-grey, .ui-widget-header .ui-button-bold-grey  {
	border: 1px solid #555555;
	background: none;
	background-color: #ffffff;
	color: #555555;
	cursor: pointer;
}
.ui-button-state-grey, .ui-widget-content .ui-button-state-grey, .ui-widget-header .ui-button-state-grey  {
	border: 1px solid #555555;
	background: none;
	background-color: #ffffff;
	color: #555555;
	cursor: pointer;
}
.ui-button-minor-grey, .ui-widget-content .ui-button-minor-grey, .ui-widget-header .ui-button-minor-grey  {
	border: 0px solid #555555;
	background: none;
	color: #555555;
	cursor: pointer;
	font-size: 100%;
}
.ui-button-coloured-grey .ui-icon, .ui-button-bold-grey .ui-icon, .ui-button-state-grey .ui-icon, .ui-button-minor-grey .ui-icon {
	background-image: url(/library/images/ui-icons_888888_256x240.png);
}


.ui-button-coloured-blue, .ui-widget-content .ui-button-coloured-blue, .ui-widget-header .ui-button-coloured-blue  {
	border: 1px solid #000099;
	background: none;
	background-color: #fbf9ee;
	color: #000099;
	cursor: pointer;
}
.ui-button-bold-blue, .ui-widget-content .ui-button-bold-blue, .ui-widget-header .ui-button-bold-blue  {
	border: 1px solid #000099;
	background: none;
	background-color: #ffffff;
	color: #000099;
	cursor: pointer;
}
.ui-button-state-blue, .ui-widget-content .ui-button-state-blue, .ui-widget-header .ui-button-state-blue  {
	border: 1px solid #000099;
	background: none;
	background-color: #ffffff;
	color: #000099;
	cursor: pointer;
}
.ui-button-minor-blue, .ui-widget-content .ui-button-minor-blue, .ui-widget-header .ui-button-minor-blue  {
	border: 0px solid #000099;
	background: none;
	color: #000099;
	cursor: pointer;
	font-size: 100%;
}
.ui-button-coloured-blue .ui-icon, .ui-button-bold-blue .ui-icon, .ui-button-state-blue .ui-icon, .ui-button-minor-blue .ui-icon {
	background-image: url(/library/images/ui-icons_000099_256x240.png);
}



.ui-button-minor-default, .ui-widget-content .ui-button-minor-default, .ui-widget-header .ui-button-minor-default  {
	border: 0px solid #fe9900;
	background: none;
	cursor: pointer;
	font-size: 100%;
}



.ui-button-coloured-blue, .ui-widget-content .ui-button-coloured-blue, .ui-widget-header .ui-button-coloured-blue  {
	border: 1px solid #003399;
	background: none;
	background-color: #efefff;
	color: #003399;
	cursor: pointer;
}

.ui-button-bold-blue, .ui-widget-content .ui-button-bold-blue, .ui-widget-header .ui-button-bold-blue  {
	border: 1px solid #003399;
	background: none;
	background-color: #ffffff;
	color: #003399;
	cursor: pointer;
}

.ui-button-state-blue, .ui-widget-content .ui-button-state-blue, .ui-widget-header .ui-button-state-blue  {
	border: 1px solid #003399;
	background: none;
	background-color: #ffffff;
	color: #003399;
	cursor: pointer;
}

.ui-button-minor-blue, .ui-widget-content .ui-button-minor-blue, .ui-widget-header .ui-button-minor-blue  {
	border: 0px solid #003399;
	background: none;
	color: #003399;
	cursor: pointer;
	font-size: 100%;
}
.ui-button-coloured-blue .ui-icon, .ui-button-state-blue .ui-icon, .ui-button-bold-blue .ui-icon, .ui-button-minor-blue .ui-icon {
	background-image: url(/library/images/ui-icons_000099_256x240.png);
}

