<script type=text/javascript>
var url = document.location.href;
if(url.indexOf("?")>0) {
	var x = url.substr(url.indexOf("?"),url.length);
} else {
	var x = "";
}
document.location.href = "index.php"+x;

</script>
<p style="font-family: Arial">Redirecting... If you are not redirected in 5 seconds <a href="index.php">click here</a>.</p>
