p.pos_time
{
position:fixed;
bottom:0px;
right:10px;
}


table td {
	padding: 3px;
	border-spacing: 0px;
}

table th.th2 {
	background-color: #dfdfff;
	color: #000000;
	border: 1px solid #FFFFFF;
}

table th {
	border: 1px solid #FFFFFF;
}

.centre { text-align: center; }
.blank { background-color: #ffffff; }
.trhover { background-color: #f0f0f0; }
.trhover2 { background-color: #d8d8d8; }
.float { float: right; }
.whiteborder { border: 1px solid #ffffff; }

a.breadcrumb { text-decoration: none; color: #00099; }
a:hover.breadcrumb { color: #fe9900; }


/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; color: #ffffff; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
/* css for sort */
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.0em; height: 18px; width: 200px;}
#sortable li span { position: absolute; margin-left: -1.3em; }
.ui-sort { list-style-image: none; }


/* button colors */
.ireset {
	background-color: #CC0001;
	color: #ffffff;
	line-height: 1.5em;
}
.imark {
	background-color: #FE9900;
	color: #ffffff;
	line-height: 1.5em;
}

/* results */
.result0	/*N/A*/
{
	color: #ffffff;
	background-color: #999999;
	text-align: center;
}
.result1	/*NM - R*/
{
	color: #ffffff;
	background-color: #cc0001;
	text-align: center;
}
.result2	/*AM - O*/
{
	color: #ffffff;
	background-color: #fe9900;
	text-align: center;
}
.result3	/*M*/
{
	color: #ffffff;
	background-color: #009900;
	text-align: center;
}
.result4	/*WM*/
{
	color: #ffffff;
	background-color: #005500;
	text-align: center;
}
.result5	/*EWM*/
{
	color: #ffffff;
	background-color: #000077;
	text-align: center;
}


table th.time1 {
	background-color: #CC0001;
	border: 1px solid #ffffff;
}
table th.time2 {
	background-color: #FE9900;
	border: 1px solid #ffffff;
}
table th.time3 {
	background-color: #009900;
	border: 1px solid #ffffff;
}
table th.time4 {
	background-color: #000099;
	border: 1px solid #ffffff;
}
table th.total {
	background-color: #444444;
	border: 1px solid #ffffff;
}

table tbody td.time1 {
	background-color: #FFE6E6;
}
table tbody td.time2 {
	background-color: #FFF5E6;
}
table tbody td.time3 {
	background-color: #E6FFE6;
}
table tbody td.time4 {
	background-color: #E6E6FF;
}
table tbody td.total {
	background-color: #E6E6E6;
	font-weight: bold;
}

table tfoot td.time1 {
	background-color: #FFCCCC;
	font-weight: bold;
}
table tfoot td.time2 {
	background-color: #FFED99;
	font-weight: bold;
}
table tfoot td.time3 {
	background-color: #99FF99;
	font-weight: bold;
}
table tfoot td.time4 {
	background-color: #CCCCFF;
	font-weight: bold;
}
table tfoot td.total {
	background-color: #BBBBBB;
	font-weight: bold;
}
table tfoot td.totaltext {
	background-color: #DEDEDE;
	font-weight: bold;
}



table tbody td.fixed {
	font-weight: bold;
}


/* classes for identifying action buttons */ 
.save1 {}
.edit {} 
.restore {}
.inact { background-color: #eeeeee; color: #555555; }


.ctrlclick { font-style: italic; font-size: 6.5pt; }
