body{
  font-size: 62.5%;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

.btn-back{
  margin-top:10px;
  padding:0 10px;  
}

p.success{
  border:1px dashed #060;
  background-color:#efe;  
  padding:3px 5px;
  font-weight:bold;
  color:#060;  
}

label.error{
  color:#c00;
  font-weight:bold;
  margin:3px 0 0 5px;  
  display:block;
}

hr{
  margin:10px 0;
  color:#009;
  height:0px;
  border:none;
  border-bottom:1px dashed #009;
}

p.warning{
  border:1px solid #f90;
  background-color:#FBE4C0;
  padding:3px 5px;
  font-weight:bold;
  color:#f60;  
}

p.message{
  border:1px dashed #090;
  padding:3px 5px;
  font-weight:bold;
  color:#090;  
}

h2.error-messages-header{
  color:#c00;
  font-weight:normal;
}

ul.error-messages{
  border:1px solid #c66;
  -moz-border-radius:3px;
  background-color:#fee;
  padding:0;
  margin:0 0 15px 0;
  padding:8px 5px 5px 40px;
}

ul.error-messages li{
  font-weight:bold;
  color:#c00;
}

ul.messages{
  border:1px solid #6c6;
  -moz-border-radius:3px;
  background-color:#efe;
  padding:0;
  margin:0 0 15px 0;
  padding:8px 5px 5px 40px;
}

ul.messages li{
  font-weight:bold;
  color:#090;
}

form{
  margin:0;
}
/***** HEADINGS *****/
h1{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:2.0em;
  color:#222;
  letter-spacing:normal;
  font-weight:bold;
  margin-bottom:10px;
  text-decoration:none;
}

h2{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:1.8em;
  color:#444;
  letter-spacing:inherit;
  font-weight:bold;
  margin-bottom:5px;
}

h5{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:1.4em;
  color:#444;
  letter-spacing:inherit;
  font-weight:bold;
  margin-bottom:5px;
}

h5.boxHeader{
  font-size:1.3em;
  margin:15px 0 0 0;
}

h6{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:1.1em;
  color:#444;
  letter-spacing:inherit;
  font-weight:bold;
  margin:0;
  margin-bottom:5px;
}

/***** ACTION BAR *****/
.actions{
  margin:5px 0;
  padding:5px;
  border:1px solid #ccc;
  background-color:#f6f6f6;
  -moz-border-radius:3px;  
}

/***** LIST TABLE *****/
table.list{
  width:100%;
  font-size:11px;
  border-left:1px solid #fff;
  border-top:1px solid #fff;
  margin-bottom:10px;  
}

table.list th{
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
  padding:5px 5px;
  text-align:center;
  background-color:#009;
  color:#fff;
}

table.list td{
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
  padding:5px 5px;
  background-color:#f3f3f3;  
}

table.list tr.heading td{
  font-size:1.4em;
  color:#666;
  letter-spacing:inherit;
  font-weight:bold;
  padding:10px 2px 2px 2px;
  background-color:#fff;
}

table.list tr.alt td{
  background-color:#fafafa;    
}

table.list tr.over td{
  background-color:#e0e7f3;    
}

table.inner th{
  background-color:#b1c5e1;  
  color:#333;
}

table.list tr.info td{
  background-color:#fff;
}

table.list tr.info td.green,
table.list tr td.green{
  background-color:#090;
  font-weight:bold;
  color:#fff;    
}

table.list tr.info td.red,
table.list tr td.red{
  background-color:#d00;    
  font-weight:bold;
  color:#fff;    
}

td.green-text{
  color:#090;  
  font-weight:bold;
}

td.red-text{
  color:#d00;  
  font-weight:bold;
}

/***** INFO TABLE *****/
table.info{
  width:600px;
  font-size:11px;
  margin-bottom:10px;  
  border:1px solid #dfdfdf;
  padding:2px 2px 1px 2px;
  background-color:#fcfcfc;
  -moz-border-radius:4px;  
}

table.info th{
  width:150px;
  padding:5px 5px;
  text-align:left;
  background-color:#009;
  color:#fff;
  border-bottom:1px solid;
}

table.slim th{
  width:100px;
}

table.double th{
  width:auto;
}

table.info td{
  padding:5px 5px;
  background-color:#f6f6f6;
  border-bottom:1px solid #fff;
}

table.info tr.alt td{
  background-color:#f9f9f9;    
}

/***** FORM TABLE *****/
table.form{
  width:600px;
  font-size:11px;
  margin-bottom:10px;
  border:1px solid #dfdfdf;
  padding:2px 2px 1px 2px;
  background-color:#fcfcfc;
  -moz-border-radius:4px;  
}

table.filter{
  width:auto;
}

table.form th{
  width:150px;
  padding:5px 5px;
  text-align:left;
  background-color:#009;
  color:#fff;
  border-bottom:1px solid;
}

table.form td{
  padding:5px 5px;
  background-color:#f6f6f6;
  border-bottom:1px solid #fff;
}

table.form tr.alt td{
  background-color:#f9f9f9;    
}

table.form tr.blank td{
  background-color:#fff;    
}

table.form tr.actions td{
  background-color:#F9F9F9;    
}

table.slim td{
  padding:5px 2px;  
}

table.slim {

}

/***** TABLE ALIGNMENTS *****/
table.oversize{
  width:800px;   
}

table.autosize{
  width:auto;
}

table.full{
  width:100%;    
}

table.center{
  margin:auto auto 10px auto;
}

table.borderize{
  border:1px solid #dfdfdf;
  padding:2px 2px 1px 2px;
  background-color:#fcfcfc;
  -moz-border-radius:4px;
}

table.full{
  width:100%;
}

/***** SPACERS *****/
.big-gap-bottom{
  margin-bottom:15px;  
}

.big-gap-top{
  margin-top:15px;  
}

br.clear{
  clear:both;  
}

form.filter{
  width:600px;
  background-color:#f3f3f3;
  padding:10px;
  border:1px solid #ccc;
}

form.filter div{
  margin-bottom:10px;
  overflow:auto;
}

form.filter label{
  font-weight:bold;
}

form.filter select, form.filter select{
  margin-right:5px;
}

form.two-column{
  width:100%;
  overflow:auto;
}

div.pager{
  margin-top:10px;
  background-color:#fcfcfc;
  border:1px solid #efefef;
  -moz-border-radius:3px;
  padding:7px 5px;
}

div.pager span.overview{
  margin-right:10px;
}

div.pager .page{
  border:1px solid #999;
  background-color:#999;
  padding:1px 4px;
  -moz-border-radius:3px;
  color:#fff;
  text-decoration:none;
}

div.pager .current{
  background-color:#fff;
  color:#333;
}

.wrapper{
  overflow:auto;  
}

.left-col,
table.left-col{
  width:49%;
  float:left;
}

.right-col,
table.right-col{
  width:49%;
  float:right
}

.extra-info{
  font-style:italic;
  margin:2px 0;
  color:#666;
}

form.two-column  select{
	max-width:250px;
}
