table th { text-align: left; vertical-align: top; }
table td { vertical-align: top; }
.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

	.ui-state-highlight-green, .ui-widget-content .ui-state-highlight-green, .ui-widget-header .ui-state-highlight-green  {border: 1px solid #009900; background: #f7fff7 ; color: #333333; }
	.ui-state-highlight-green a, .ui-widget-content .ui-state-highlight-green a,.ui-widget-header .ui-state-highlight-green a { color: #333333; }
	.ui-state-highlight-green .ui-icon {background-image: url(/lib/jquery/css/blue_orange/images/ui-icons_009900_256x240.png); }
	.ui-state-error-red, .ui-widget-content .ui-state-error-red, .ui-widget-header .ui-state-error-red {border: 1px solid #cc0001; background: #fef1ec url(images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x; color: #cc0001; }
	.ui-state-error-red a, .ui-widget-content .ui-state-error-red a, .ui-widget-header .ui-state-error-red a { color: #cc0001; }
	.ui-state-error-red .ui-icon, .ui-state-error-text .ui-icon {background-image: url(/lib/jquery/css/blue_orange/images/ui-icons_cc0001_256x240.png); }
	.ui-state-highlight-info, .ui-widget-content .ui-state-highlight-info, .ui-widget-header .ui-state-highlight-info  {border: 1px solid #FE9900; background: #fffcf8 ; color: #333333; }
	.ui-state-highlight-info a, .ui-widget-content .ui-state-highlight-info a,.ui-widget-header .ui-state-highlight-info a { color: #333333; }
	.ui-state-highlight-info .ui-icon {background-image: url(/lib/jquery/css/blue_orange/images/ui-icons_fe9900_256x240.png); }
	#sortable { list-style-type: none; margin: 0; padding: 0;  }
	#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.0em; height: 18px; }
	#sortable li span { position: absolute; margin-left: -1.3em; }
