
div#tbl-container {
	width: 100%;
	height: 80%;
	overflow: auto;
	scrollbar-base-color:#cdcdcd;
	border: 0px solid;
	border-color: #ababab;
}

table {
	table-layout: automatic;
	border-collapse: collapse;
	border-style: solid;
	border-width: 0px;
	border-color: #ababab;
	background-color: #ffffff;
}

/*table.tclass {
	table-layout: automatic;
	border-collapse: collapse;
	border-style: solid;
	border-width: 0px;
	border-color: #ffffff;
	background-color: #ffffff;
}*/

th, th.locked	{
	position:relative;
	color: #ffffff;
	text-align: center;
	background-color: #CC0001;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
	padding: 3 3 3 3;
}
	
th {
	top: expression(document.getElementById("tbl-container").scrollTop-2); /*IE5+ only*/
	z-index: 20;
}


th.locked {
	left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); /*IE5+ only*/
	z-index: 30;
}


td, td.locked {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 2 5 2 5;
}


td.locked {
	background-color: #cc0001;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); /*IE5+ only*/
	position: relative;
	z-index: 10;
}





