
div#tbl-container {
	width: 100%;
	height: 400px;
	overflow: auto;
}

table {
	table-layout: automatic;
}

div#tbl-container table th {
/*width: 100px;*/
}

thead th, thead th.locked	{
/*font-size: 14px;
font-weight: bold;
text-align: center;
background-color: navy;
color: white;
border-right: 1px solid silver;*/
position:relative;
cursor: default; 
}
	
thead th {
top: expression(document.getElementById("tbl-container").scrollTop-2); /* IE5+ only */
z-index: 20;
}

thead th.locked {z-index: 30;}

td.locked,  th.locked{
/*background-color: #ffeaff;
font-weight: bold;
border-right: 1px solid silver;*/
left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); /* IE5+ only */
position: relative;
z-index: 10;
}

