.fc {color: #000099}
.bc {background-color: #000099}
.grey {color: #444444;}
a {color: #000099;}
a:hover {color: #000099;}
a:active {color: #000099;}

th {
	background-color: #000099;
}
table td.thtd {
	background-color: #000099;
}

h1 {
	color: #000099;
}
h2 {
	color: #000099;
}
h3 {
	color: #000099;
}
h4 {
	color: #000099;
}


.TDheader {
	color: #ffffff;
	text-align: center;
	background-color: #000099;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}
.TDheaderl {
	color: #ffffff;
	text-align: left;
	background-color: #000099;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}