.tdheader { background-color: #000099; color: #ffffff; text-align: center; font-weight: bold; border-color: #ffffff;}
.tdheaderl { background-color: #000099; color: #ffffff; text-align: center; font-weight: bold; text-align: left; border-color: #ffffff;}