<h2 class=fc><?php echo ($actname);?> Reminder</h2>
<form name=taskremind method=get action=view_task_update.php>
<input type=hidden name=i value=<?php echo($taskid); ?>>
<table border="0" id="table1" cellspacing="0" cellpadding="5">
	<tr>
		<td valign="top" class=tdgeneral>Remind me in <select name=remind>
<?php
$t1day = 60*60*24;
$tdead = $task['taskdeadline'];
$tremind = $task['taskremind'];
if($tremind == 0)
{
    $rembut = "Set reminder";
    $t2 = 1;
}
else
{
    $rembut = "Reset reminder";
    $tdr = $tdead - $tremind;
    $t2 = round($tdr/$t1day);
    if($t2 > $tdr/$t1day)
    {
        $t2 = $t2-1;
    }
}
if($tdead > $today)
{
    $tdate = " before deadline.";
    $trday = date("d",$today)+1;
    $trmon = date("n",$today);
    $tryear = date("Y",$today);
    $trdate = getdate(mktime(0,0,0,$trmon,$trday,$tryear));
    $trdate2 = $trdate[0];
    $tdr2 = $tdead - $trdate2;
    $t3 = $tdr2/$t1day;
    $t3b = round($t3);
    if($t3b > $t3)
    {
        $t3 = $t3b;
    }
    else
    {
        $t3 = $t3b+1;
    }
    $t2 = $t3 - $t2;
    for($t=1;$t<=$t3;$t++)
    {
        if($t == 1)
        {
            $text = "1 day (tomorrow)";
            $tval = "r".$trdate2;
        }
        else
        {
            if($t == $t3)
            {
                $text = $t." days (deadline)";
                $tval = "r".$tdead;
            }
            else
            {
                $text = $t." days (";
                $trday = date("d",$today);
                $trmon = date("n",$today);
                $tryear = date("Y",$today);
                $trdate = getdate(mktime(0,0,0,$trmon,$trday,$tryear));
                $trdate2 = $trdate[0];
                $trdateinc = $t1day*$t;
                $trdate3 = $trdate2+$trdateinc;
                $text.= date("d-M-Y",$trdate3);
                $text.= ")";
                $tval = "r".$trdate3;
            }
        }
        if($t == $t2)
        {
            echo("<option selected value=".$tval.">".$text."</option>");
        }
        else
        {
            echo("<option value=".$tval.">".$text."</option>");
        }
    }
}
else
{
    for($t=1;$t<11;$t++)
    {
        if($t == $t2)
        {
            echo("<option selected value=".$t.">".$t." day</option>");
        }
        else
        {
            echo("<option value=".$t.">".$t." days</option>");
        }
    }
}
?>
        </select></td>
		<td valign="top" class=tdgeneral><input type=submit value="<?php echo($rembut); ?>"></td>
	</tr>
</table>
</form>
