@charset "utf-8";
/* CSS Document */
body{
	font-size:0.7em;
}
#menulist{
	clear:both;
	list-style:none;
}
#menulist li{
	display:inline;
	float:left;
	width:150px;
}
table{
	font-size:12px;
}

.submenu{
	display:inline;
	list-style:none;
	clear:both;
}
.submenu li{ 
	float:left;
	width:auto;
	margin-left:0px;
}

.submenu li a{ 
	text-decoration:none;
}
.message{
	background-color:#FFFFFF;
	text-align:center;
	color:#000000;
	width:300px;
	height:auto;
	position:fixed;
	_position : static;
	_top : 0px;
	top : 0px;
	padding:8px 5px 0px 20px;
	display:none;
	font-size:14px;
	font-weight:800;
	margin-left:500px;
	margin-top:0px;
	border:#000066 solid 1px;
	-moz-border-radius:3px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.semi{
	background-color:#0033FF;
}

.success {
	background-color:#006600;
}

.error{
	background-color:#FF0000;
}
.displayview{
	padding-top:0px;
	clear:both;
}

.hovering{
	background-color:#DDDDDD;
	opacity:0.8;
}

.displayActions{
	z-index:9999;
	position:absolute;
	width:auto;
	height:auto;
	background-color:#666666;
	color:#FFFFFF;
}


/*  form */


.result{
	margin:5px 0px 10px 0px;
	padding:0 .3em;
}


.logs, auditlog{
	backgroung-image:url(../../pics/tri_up.gif);
}

.viewlog{
	backgroung-image:url(../../pics/tri_right.gif);
}

.breadcrumbs{
	text-decoration:none;
}