p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
	color: #000000;
	margin: 10px 0px 10px;
	padding: 0px 0px 0px 5px;
}

.pSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	font-weight: normal;
}

.pLine {
    margin: -10px 0px 20px;
}

.pLi {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 10pt;
	padding: 0px;
	text-align: left;
	font-weight: normal;
	margin: 5px 5px 10px 30px;
}

select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	color: #000000;
}

hr {
    color: #dd1a20;
    margin-top: 15px;
}

/*ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	margin-top: 5px;
	margin-bottom: 10px;
	list-style-position: outside;
	clear: left;
	list-style-image: url(/pics/bullet.gif);
}*/

ol {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	margin-top: 5px;
	margin-bottom: 10px;
	list-style-position: outside;
	clear: left;
}
	
/*ul li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 10pt;
	margin: 0px 5px 5px -20px;
	padding: 0px;
	text-align: left;
	font-weight: normal;
}*/

ol li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 10pt;
	margin: 0px 5px 5px -10px;
	padding: 0px;
	text-align: left;
}

.ul2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	margin-top: 5px;
	margin-bottom: 10px;
	list-style-position: outside;
	clear: left;
	list-style-image: url(pics/bullet2.gif);
	font-weight: normal;
}
.ul3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	margin-top: 5px;
	margin-bottom: 10px;
	list-style-position: outside;
	clear: left;
	list-style-image: url(pics/bullet3.gif);
	font-weight: normal;
}
.ul4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	margin-top: 5px;
	margin-bottom: 10px;
	list-style-position: outside;
	clear: left;
	list-style-image: url(pics/bullet4.gif);
	font-weight: normal;
}
.ulb {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	margin-top: 5px;
	margin-bottom: 10px;
	list-style-position: outside;
	clear: left;
	list-style-image: url(pics/blank.gif);
	font-weight: normal;
}




h1 {
	font-size: 17pt;
	margin: 10px 0px 15px;
	padding: 0px 0px 2px 2px;
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	color: #cc0001;
	letter-spacing: 0.07em;
	line-height: 22px;
	font-weight: bold;
	text-decoration: underline;
}

.red {
	color: #cc0001;
}

.blue {
	color: #000098;
}

.green {
	color: #006600;
}

.orange {
	color: #fe9900;
}

h2 {
	font-size: 14pt;
	margin: 20px 0px 10px;
	padding: 0px;
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	color: #dd1a20;
	letter-spacing: 0.07em;
    font-weight: bold;
	line-height: 22px;
}

h3 {
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #dd1a20;
	font-weight: normal;
	letter-spacing: 0.07em;
	margin: 10px 0px 10px;
	padding: 0px;
}

.sectionright {
	color: #dd1a20;
}

h4 {
	font-family:  Verdana, Arial, Helvetica, sans-serif;  
	font-size: 9pt;
	font-weight: bold;
}

h5 {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #D1000C;
	letter-spacing: 0.07em;
	margin: 0px 0px;
	padding: 0px;
}


a {
	color: #CC0001;
}

a:visited {
	color: #444444;
}

a:hover {
	color: #FF6600;
}

a:active {
	color: #FF6600;
}

.header {
	color: #FFFFFF;
}

table {
	border-collapse: collapse;
	border: solid 1px #ababab;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
	color: #000000;
	border: solid 1px #ababab;
}

th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	text-align: center;
	font-weight: bold;
	line-height: 12pt;
	color: #ffffff;
	padding: 5px 5px 5px 5px;
	border: solid 1px #ffffff;
}

.noborder {
	border: solid 0px #ffffff;
}

.intro {
	font-family: "Times New Roman", Times, serif;
	font-size: 11pt;
	color: #00377C;
	font-style: italic;
	font-weight: normal;
}


table.tclass {
     border-style: solid;
     border-collapse: collapse;
}



.TDgeneral {
	color: #000000;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}


.TDerror {
	color: #dd1a20;
	background-color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}

.TDok {
	color: #00984b;
	background-color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-style: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}

.TDrequired {
	color: #000000;
	background-color: #FFFFFF;
	text-decoration: none;
	font-style: italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}

.TDheader {
	color: #ffffff;
	text-align: center;
	background-color: #cc0001;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}
.TDheaderred {
	color: #ffffff;
	text-align: center;
	background-color: #cc0001;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}
.TDheaderredl {
	color: #ffffff;
	text-align: left;
	background-color: #cc0001;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}

.TDheaderblue {
	color: #ffffff;
	text-align: center;
	background-color: #000098;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}
.TDheaderbluel {
	color: #ffffff;
	text-align: left;
	background-color: #000098;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}

.TDheadergreen {
	color: #ffffff;
	text-align: center;
	background-color: #006600;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}
.TDheadergreenl {
	color: #ffffff;
	text-align: eft;
	background-color: #006600;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}

.TDheaderorange {
	color: #ffffff;
	text-align: center;
	background-color: #fe9900;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}
.TDheaderorangel {
	color: #ffffff;
	text-align: eft;
	background-color: #fe9900;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}

.TDbody {
	color: #000000;
	background-color: #fef6f7;
	font-weight: normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 10pt;
}


input {
    font-size: 8pt;
}

textarea {
    font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
}

select {
    font-size: 8pt;
}

.info {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-weight: normal;
}

.infotitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #D1000C;
	horizontal-align: center;
}

.arrow {
	vertical-align: middle;
}

.box {
	border: 1px dashed #A7A7A7;
	padding: 5px;
	background-color: #FBFBFB;
}

.butt {
	padding: 3px 0px 2px 0px;
	border: 1px outset;
	border-color: #dfdfe0;
	border-left: 1px solid #dfdfe0;
	border-right: 1px solid #a2a2a3;
	border-top: 0px;
	border-bottom: 0px;
}

.button {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	margin: 0px 0px 0px 0px;
	line-height: 10pt;
    background-image: url('pics/button2.gif');
	padding: 2px 0px 2px 0px;
    border: 1px outset #f1f1f2;
	white-space: nowrap;
}

.buttonG {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
	line-height: 10pt;
    background-image: url('pics/button-greend.gif');
	padding: 2px 0px 2px 0px;
    border: 1px solid;
    border-color: #006600;
	white-space: nowrap;
}

.buttonB {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
	line-height: 10pt;
    background-image: url('pics/button-blued.gif');
	padding: 2px 0px 2px 0px;
    border: 1px solid;
    border-color: #000099;
	white-space: nowrap;
}

.buttonO {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
	line-height: 10pt;
    background-image: url('pics/button-oranged.gif');
	padding: 2px 0px 2px 0px;
    border: 1px solid #fe9900;
	white-space: nowrap;
}

.buttonR {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
	line-height: 10pt;
    background-image: url('pics/button-redd.gif');
	padding: 2px 0px 2px 0px;
    border: 1px solid #cc0000;
	white-space: nowrap;
}

.buttonX {
	background-color: #dd1a20;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-color: #ffffff;
	padding: 1px;
	margin: 0px 1px 1px 0px;
	clip:  rect(0px 0px 0px 0px);
	border: 0px solid;
	line-height: 10px;
}
