body{
  font-size:11px;
  font-family:Verdana, Arial, sans-serif;
  color:#333;
}

a{
	color:#333;
}

.btn-back{
  margin-top:10px;
  padding:0 10px;  
}

p.success{
  border:1px dashed #060;
  background-color:#efe;  
  padding:3px 5px;
  font-weight:bold;
  color:#060;  
}

label.error{
  color:#c00;
  font-weight:bold;
  margin:3px 0 0 5px;  
  display:block;
}

hr{
  margin:10px 0;
  color:#009;
	height:0px;
  border:none;
  border-bottom:1px dashed #009;
}

p.warning{
  border:1px solid #f90;
  background-color:#FBE4C0;
  padding:3px 5px;
  font-weight:bold;
  color:#f60;  
}

p.message{
  border:1px dashed #090;
  padding:3px 5px;
  font-weight:bold;
  color:#090;  
}

h2.error-messages-header{
  color:#c00;
  font-weight:normal;
}

ul.error-messages{
  border:1px solid #c66;
  -moz-border-radius:3px;
  background-color:#fee;
	padding:0;
	margin:0 0 15px 0;
  padding:8px 5px 5px 40px;
}

ul.error-messages li{
  font-weight:bold;
  color:#c00;
}

ul.messages{
  border:1px solid #6c6;
  -moz-border-radius:3px;
  background-color:#efe;
	padding:0;
	margin:0 0 15px 0;
  padding:8px 5px 5px 40px;
}

ul.messages li{
  font-weight:bold;
  color:#090;
}

form{
	margin:0;
}
/***** HEADINGS *****/
h1{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:2.0em;
  color:#222;
  letter-spacing:normal;
  font-weight:bold;
  margin-bottom:10px;
  text-decoration:none;
}

h2{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:1.8em;
  color:#444;
  letter-spacing:inherit;
  font-weight:bold;
  margin-bottom:5px;
}

h5{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:1.4em;
  color:#444;
  letter-spacing:inherit;
  font-weight:bold;
  margin-bottom:5px;
}

h6{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:1.1em;
  color:#444;
  letter-spacing:inherit;
  font-weight:bold;
  margin:0;
  margin-bottom:5px;
}

/***** ACTION BAR *****/
.actions{
  margin:5px 0;  
}

/***** LIST TABLE *****/
table.list{
  width:100%;
  font-size:11px;
  border-left:1px solid #fff;
  border-top:1px solid #fff;
  margin-bottom:10px;  
}

table.list th{
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
  padding:5px 5px;
  text-align:center;
  background-color:#009;
  color:#fff;
}

table.list td{
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
  padding:5px 5px;
  background-color:#f3f3f3;  
}

table.list tr.heading td{
  font-size:1.4em;
  color:#666;
  letter-spacing:inherit;
  font-weight:bold;
  padding:10px 2px 2px 2px;
  background-color:#fff;
}

table.list tr.alt td{
  background-color:#fafafa;    
}

table.list tr.over td{
  background-color:#e0e7f3;    
}

table.inner th{
  background-color:#b1c5e1;  
  color:#333;
}

table.list tr.info td{
  background-color:#fff;
}

table.list tr.info td.green,
table.list tr td.green{
  background-color:#090;
  font-weight:bold;
  color:#fff;    
}

table.list tr.info td.red,
table.list tr td.red{
  background-color:#d00;    
  font-weight:bold;
  color:#fff;    
}

td.green-text{
  color:#090;  
  font-weight:bold;
}

td.red-text{
  color:#d00;  
  font-weight:bold;
}

/***** INFO TABLE *****/
table.info{
  width:600px;
  font-size:11px;
  margin-bottom:10px;  
  border:1px solid #dfdfdf;
  padding:2px 2px 1px 2px;
  background-color:#fcfcfc;
  -moz-border-radius:4px;  
}

table.info th{
  width:150px;
  padding:5px 5px;
  text-align:left;
  background-color:#009;
  color:#fff;
  border-bottom:1px solid;
}

table.slim th{
  width:100px;
}

table.double th{
  width:auto;
}

table.info td{
  padding:5px 5px;
  background-color:#f6f6f6;
  border-bottom:1px solid #fff;
}

table.info tr.alt td{
  background-color:#f9f9f9;    
}

/***** FORM TABLE *****/
table.form{
  width:600px;
  font-size:11px;
  margin-bottom:10px;
  border:1px solid #dfdfdf;
  padding:2px 2px 1px 2px;
  background-color:#fcfcfc;
  -moz-border-radius:4px;  
}

table.filter{
  width:auto;
}

table.form th{
  width:150px;
  padding:5px 5px;
  text-align:left;
  background-color:#009;
  color:#fff;
  border-bottom:1px solid;
}

table.form td{
  padding:5px 5px;
  background-color:#f6f6f6;
  border-bottom:1px solid #fff;
}

table.form tr.alt td{
  background-color:#f9f9f9;    
}

table.form tr.actions td{
  background-color:#F9F9F9;    
}

table.slim td{
  padding:5px 2px;  
}

table.slim {

}

/***** TABLE ALIGNMENTS *****/
table.oversize{
  width:800px;   
}

table.autosize{
  width:auto;
}

table.full{
  width:100%;    
}

table.center{
  margin:auto auto 10px auto;
}

table.borderize{
  border:1px solid #dfdfdf;
  padding:2px 2px 1px 2px;
  background-color:#fcfcfc;
  -moz-border-radius:4px;
}

/***** TAB GROUP *****/
div.tab-group{
  margin-bottom:10px;  
}

/***** SPACERS *****/
.big-gap-bottom{
  margin-bottom:15px;  
}

.big-gap-top{
  margin-top:15px;  
}

/***** SUB NAV MENU *****/
ul.sub-nav-menu{
}

br.clear{
  clear:both;  
}

/* CAREER DEVELOPMENT STYLES */
div.option-group{
 overflow:auto;
}

div.option{
  display:block;
  float:left;
  width:200px;
  text-align:center; 
  background-color:#eef;
  margin:0 5px;
  padding:15px 5px;
  border:1px solid #ccc;
}

div.option h2{
  margin:0;
  font-family:Arial, Verdana;
  color:#007;
  font-weight:normal;
  font-size:3.0em;
  letter-spacing:0.03em;
  line-height:1.0em;
}

div.option p{
  min-height:50px;  
}

div.option div.info{
  margin:10px 0 15px 0;  
  text-align:left;  
}

p.instruction{
  width:80%;
  margin:0 auto;
  text-align:center; 
  background-color:#eef;
  padding:15px 5px;
  border:1px solid #ccc;
  font-size:2.0em;
}

/* PRINT PREVIEW */
div.print-preview{
  padding:10px;
  margin:15px auto;
  border:1px dashed #666;
  font-size:10pt;
  font-family:Arial, Verdana, Courier;
}

div.print-preview h1{
  font-family:Arial, Verdana, Courier;
  font-size:16pt;
  color:#000;
  padding:0;
}


div.print-preview h2{
  font-family:Arial, Verdana, Courier;
  font-size:14pt;
  color:#000;
}


div.print-preview h3{
  font-family:Arial, Verdana, Courier;
  font-size:11pt;
  color:#000;
}

div.print-preview table.print{
  width:100%;
  border-left:1px solid;
  border-top:1px solid;
  margin-bottom:15pt;
}

div.print-preview table.print th,
div.print-preview table.print td{
  border-right:1px solid #000;
  border-bottom:1px solid #000;
  padding:3pt 6pt;
}

div.print-preview table.print th{
  background-color:#666;
  color:#fff;
}


p.evaluation-mark{
  width:250px;
  font-size:1.2em;
  background-color:#ececec;
  padding:5px;
  text-align:center;
  margin:5px auto;
}

p.evaluation-mark strong{
  font-size:1.4em;
}

form.filter{
  width:600px;
  background-color:#f3f3f3;
  padding:10px;
  border:1px solid #ccc;
}

form.filter div{
  margin-bottom:10px;
  overflow:auto;
}

form.filter label{
  font-weight:bold;
}

form.filter select, form.filter select{
  margin-right:5px;
}