@CHARSET "UTF-8";
.gray{
	background-color:#F0F0F0;
}

p.gray{
	background-color:#F0F0F0;
	width:300px;
	height:30px;
}

.lightblue{
	background-color:#DFDFFF;
}


.dialogmessage{
	display	: none;
	margin:5px 0px 10px 0px;
	padding:0 .3em;
}

.evaluationyear{
	display:none;
	padding:10px;
	width:400px;
	font-size:13px;
	font-weight:800;
	margin-left:10px;
}

.selectevaluationyear{
	background-color:#F0F0F0;
	height:30px;
	padding:5px;		
}

.ui-datepicker{
	display:none;
}
