	#footer{
		height:26px;
		vertical-align:middle;
		text-align:right;
		clear:both;
		padding-right:3px;
		padding-top: 2px;
		background-color:#000099;
		margin-top:2px;
		width:450px;
	}
	#footer form{
		margin:0px;
		margin-top:2px;
	}
	#dhtmlgoodies_dragDropContainer{	/* Main container for this script */
		width:500px;
		height:350px;
		/*border:1px solid #317082;*/
		background-color:#FFF;
		-moz-user-select:none;
	}
	#dhtmlgoodies_dragDropContainer ul{	/* General rules for all <ul> */
		margin:10px 10px 0px 0px;
		padding:0px 0px 0px 0px;
    	list-style-image: url(/pics/blank.gif);
	}

	#dhtmlgoodies_dragDropContainer li,#dragContent li,li#indicateDestination{	/* Movable items, i.e. <LI> */
		list-style-type:none;
		height:20px;
		background-color:#EEE;
		border:1px solid #000;
		padding:4px 0px 0px 4px;
		margin:0px 0px 3px 0px;
		cursor:move;
		font-size:1em;
	}

	li#indicateDestination{	/* Box indicating where content will be dropped - i.e. the one you use if you don't use arrow */
		border:1px dotted #600;
		background-color:#FFF;
	}


	/* LEFT COLUMN CSS */
	div#dhtmlgoodies_listOfItems{	/* Left column "Available students" */

		float:left;
		padding-left:10px;
		padding-right:10px;
		padding-top:10px;
		padding-bottom:10px;

		/* CSS HACK */
		width: 400px;	/* IE 5.x */
		width/* */:/**/400px;	/* Other browsers */
		width: /**/400px;

	}
	#dhtmlgoodies_listOfItems ul{	/* Left(Sources) column <ul> */
		height:350px;

	}

	div#dhtmlgoodies_listOfItems div{
		border:1px solid #999;
		height:300px;
	}
	div#dhtmlgoodies_listOfItems div ul{	/* Left column <ul> */
		margin-left:10px;	/* Space at the left of list - the arrow will be positioned there */
	}
	#dhtmlgoodies_listOfItems div p{	/* Heading above left column */
		margin:0px 0px 5px 0px;
		font-weight:bold;
		padding:3px 0px 3px 0px;
		background-color:#000099;
		color:#FFF;
		font-size:9pt;
	}
	/* END LEFT COLUMN CSS */

	#dhtmlgoodies_dragDropContainer .mouseover{	/* Mouse over effect DIV box in right column */
		background-color:#dddddd;
		border:1px solid #000099;
	}

	/* Start main container CSS */

	div#dhtmlgoodies_mainContainer{	/* Right column DIV */
		width:400px;
		float:left;
		padding-left:10px;
		padding-top:10px;
		padding-bottom:10px;
		padding-right:10px;
	}
	#dhtmlgoodies_mainContainer div{	/* Parent <div> of small boxes */
		float:left;
/*		margin-right:10px;
		margin-bottom:10px;
		margin-top:0px;
*/		border:1px solid #999;
        height:300px;

		/* CSS HACK */
		width: 400px;	/* IE 5.x */
		width/* */:/**/400px;	/* Other browsers */
		width: /**/400px;

	}
	#dhtmlgoodies_mainContainer div ul{
		margin-left:10px;
	}

	#dhtmlgoodies_mainContainer div p{	/* Heading above small boxes */
		margin:0px 0px 5px 0px;
		font-weight:bold;
		padding:3px 0px 3px 0px;
		background-color:#000099;
		color:#FFF;
		font-size:9pt;
	}

	#dhtmlgoodies_mainContainer ul{	/* Small box in right column ,i.e <ul> */
		width:352px;
		height:300px;
		border:0px;
		margin-bottom:0px;
		overflow:hidden;

	}

	#dragContent{	/* Drag container */
		position:absolute;
		width:350px;
		height:20px;
		display:none;
		margin:0px;
		padding:0px;
		z-index:2000;
	}

	#dragDropIndicator{	/* DIV for the small arrow */
		position:absolute;
		width:7px;
		height:10px;
		display:none;
		z-index:1000;
		margin:0px;
		padding:0px;
	}

	div#dhtmlgoodies_listOfItems{
		display:none;
	}
	body{
		background-color:#FFF;
	}
	img{
		display:none;
	}
	#dhtmlgoodies_dragDropContainer{
		border:0px;
		width:100%;
	}
	p{
		margin-bottom:0px;
	}
