body{font:13pt/1.231 "Arial Rounded MT Bold",arial,helvetica,clean,sans-serif;}
#menu, #breadcrumbs, #text-size, #column-divider-top, 
#column-divider-bottom, #side-column, #footer, #section-calls
{
	display:none;
}

.noprint{ display:none; }
a img{ border:none; }