body{*font-size:small;*font:x-small;}
input,button,textarea,select{*font-size:100%;}

#column-wrapper{
  overflow:inherit;
}

#content-column{
  width:563px;
}

#content-column{
  height:auto;
}

#side-column{
  height:auto;
  width:382px;
}

form.round-wide input.button{
  top:3px;
}