/* -----------------------------*/
/* RESET -----------------------*/
/* -----------------------------*/
html{
	color:#000;
	background:#FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}
fieldset,img{
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{
	font-style:inherit;
	font-weight:inherit;
}
del,ins{
	text-decoration:none;
}
li{
	list-style:none;
}
caption,th
{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
body{
	font:13px/1.231 arial,helvetica,clean,sans-serif;
}
select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100% arial,helvetica,clean,sans-serif;}

/* -----------------------------*/
/* CORE ------------------------*/
/* -----------------------------*/
html{
  background-color:#f6f6f6;
  color:#333;
}

a img{
  border:0;
}

a:hover{
  text-decoration:none;
}

h1{
  margin-bottom:15px;
  padding-bottom:10px;
  font-size:228%;
  color:#034C96;
  border-bottom:1px solid #eaeaea;
}

h2{
  margin-bottom:10px;
  font-size:153.9%;
  color:#034C96;
  
}

h3{
  font-size:123.1%;
  color:#034C96;
  margin-bottom:5px;
}

h5{
  font-size:100%;
  font-weight:bold;
  margin-bottom:5px;
}

strong{
  font-weight:bold;
}

em{
  font-style:italic;
}

/* -----------------------------*/
/* COMMON ----------------------*/
/* -----------------------------*/
.spacer{
  padding:25px;
}

.print-only{
  display:none;
}

.outer-space{
  margin:25px 0;
}

br.clear{
  clear:both;
  height:0px;
}

p.tip{
  font-size:85%;
  font-style:italic;
}

ul.default {
  padding-left:15px;
  margin-bottom:15px;
}

ul.default li{
  margin-right:15px;
  padding:3px 0;
  list-style:disc;
}

ul.default li ul.default li{
  list-style:circle;
}

ul.two-column{
  overflow:auto;
}

ul.two-column li{
  float:left;
  width:45%;
} 

table.default{
  width:100%;
  margin-bottom:15px;
  border-top:2px solid #efefef;
  border-left:2px solid #efefef;
}

table.default td,table.default th{
  padding:4px 7px;
  border-bottom:2px solid #efefef;
  border-right:2px solid #efefef;
}

table.default th{
  font-weight: bold;
  text-align:center;
}

table.default tr.section td{
  font-style: italic;
  background-color: #efefef;
}

p.labelValue span{
  display:inline-block;
  width:80px;
  text-align:right;
  margin-right:5px;
  font-weight:bold;
}

p.labelValue.wide span{
  width:100px;
}

p.instruction{
  font-style:italic;
}

ol li{
  list-style-type:none;
  margin-bottom:15px;
}

ol li ul li{
  list-style-type:disc;
  margin-left:25px;
  margin-bottom:5px;
}

.clear{
  clear:both;
}

.decoration{
  margin:5px 0 10px 0;
  border:5px solid #ddd;
  -moz-border-radius:5px;
  -webkit-border-radius:5px; 
  border-radius:5px;
}

.float-right{
  float:right;  
}

.divider-top{
  margin-top:15px;
  padding-top:15px;
  border-top:1px solid #EAEAEA;
}

.space-bl{
  margin:0 0 15px 15px;
}

img.float-left{
  float:left;
  margin-right:10px;
}

/* -----------------------------*/
/* FORMS -----------------------*/
/* -----------------------------*/
ul.errors{
  margin-bottom:10px;
  background-color:#fff6f6;
  padding:5px;
  border:1px solid #d77;
  -moz-border-radius:5px;
  -webkit-border-radius:5px; 
  border-radius:5px;
  color:#900;
}

ul.errors li{
  margin-left:15px;
  list-style:disc;
}

p.success{
  color:#070;
  font-weight:bold;
  border:1px solid #090;
  -moz-border-radius:5px;
  -webkit-border-radius:5px; 
  border-radius:5px;
  padding:5px;
  background-color:#f6fff6;
}

form.default{
  color:#666;
  margin-bottom:30px;
}

form.default label{
  display:block;
  float:left;
  width:90px;
  margin-top:8px;
  padding-right:10px;
  font-size:93%;
  text-align:right;
}

form.default label.required span{
  position:relative;
  top:1px;
  color:#c00;
  margin-left:3px;
}

form.default input{
  width:213px;
  height:21px;  
  margin-top:7px;
  padding:1px 8px 0 5px;
  background:transparent url(/images/bg-input-wide.jpg) no-repeat scroll left top;
  border:0 none;
  color:#333;
  font-size:85%;
}

form.default textarea{
  width:216px;
  height:90px;
  margin-top:7px;
  padding:5px;
  background:transparent url(/images/bg-textarea.jpg) no-repeat scroll left top;
  border:0 none;
  color:#555;
  font-size:85%;
}


form.default input.active{
  color:#999;
}

form.default input.submit{
  width:80px;
  height:25px;
  margin-left:100px;
  margin-top:7px;
  background:transparent url(/images/submit.gif) no-repeat scroll left 5px;
  cursor:pointer;
}

/* -----------------------------*/
/* STRUCTURE -------------------*/
/* -----------------------------*/
#site-frame{
  width:945px;
  margin:0 auto;
}

#header{
  position:relative;
  height:100px;
  padding:0 0px;
  background:#f6f6f6 url('/pics/frontpage/images/bg-header.png') repeat-x;
  -moz-border-radius-bottomright:12px;
  -moz-border-radius-bottomleft:12px;
  -webkit-border-bottom-left-radius:12px;
  -webkit-border-bottom-right-radius:12px;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
}

#header a#logo{
  position:absolute;
  top:10px;
  left:30px;
}

#header-top-row{
  width:700px;
  height:25px;
  float:right;
  margin-top:65px;
  padding-top:5px;
  text-align:right;
  
}

#header-top-row,
#header-top-row a{
  color:#999;
}



#header-top-row a:hover#assistLogin{
  text-decoration:none;
  color:#fe9900;
}

#frmLogin input.round{
  width:97px;
  height:21px;  
  margin-right:5px;
  padding:4px 5px 0 5px;
  background:transparent url(/images/bg-input.jpg) no-repeat scroll left top;
  border:0 none;
  color:#999;
  font-size:85%;
}

#frmLogin input.button{
  position:relative;
  top:6px;
  left:-17px;
}

#header-top-row img.divider{
  margin-top:7px
}

ul#menu{
  width:730px;
  float:right;
  margin-top:15px;
  text-align:right;
}

ul#menu li{
  position:relative;
  display:inline;
  margin:0 0 0 8px;
  padding-right:8px;
  border-right:1px solid #666;
}

ul#menu li.last-child{
  padding:0;
  border:none;
}

ul#menu li a{
  color:#333;
  text-decoration:none;
  font-size:131%;
}

ul#menu li a.active{
  border-bottom:3px solid #384EA3;
}

ul#menu li a:hover{
  border-bottom:3px solid #007EFB;
}

/*ul#menu ul{
  display: none; 
  position: absolute; 
  left:-10px;
  top:19px;
  width: 342px;
  margin: 0; 
  list-style: none; 
  text-align:left;
  font-size:75%;
  background-color:#f6f6f6;
  padding:2px;
}*/

ul#menu ul{
  display: none; 
  position: absolute; 
  left:-10px;
  top:19px;
  width: 170px;
  margin: 0; 
  list-style: none; 
  text-align:left;
  font-size:75%;
  z-index:10000;
}

ul#menu ul.wide{
  width: 210px;
}

ul#menu ul li{ 
  float:left;
  width: 160px; 
  margin: 0;
  padding:3px 5px 6px 5px;
  display: block; 
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
  border-left:1px solid #ccc;
  background-color:#f6f6f6;
}

ul#menu ul.wide li{
  width: 200px;
}

ul#menu ul li.last{ 
  border-bottom:none;
}

ul#menu li:hover ul,
ul#menu li.iehover ul{ 
  display: block; 
}

#breadcrumbs{
  float:left;
  height:30px;
  line-height:36px;
  text-indent:15px;
  font-size:85%;
}

#breadcrumbs li{
  display:inline;
  color:#666;
}

#breadcrumbs li.last{
  font-weight:bold;
}

#breadcrumbs li a{
  color:#666;
}

#text-size{
  float:right;
  height:30px;
  line-height:36px;
  text-indent:15px;
  font-size:85%;
}

#text-size li{
  display:inline;
  color:#666;
}

#text-size li a{
  color:#666;
  text-decoration:none;
}

#text-size #size-normal{
  font-size:85%;
}

#text-size #size-large{
  font-size:110%;
}

#text-size #size-larger{
  font-size:135%;
}

#content-frame{
  overflow:auto;
  clear:both;
  z-index:0;
}

#column-divider-top{
  float:right;
}

#column-divider-bottom{
  float:right;
}

#column-wrapper{
  overflow:auto;
  clear:both;
  background-color:#fff;
  -moz-border-radius-topleft:12px;
  -moz-border-radius-bottomleft:12px;
  -webkit-border-top-left-radius:12px;
  -webkit-border-bottom-left-radius:12px;
  border-top-left-radius:12px;
  border-bottom-left-radius:12px;
}


#content-column{
  display:block;
  float:left;
  width:565px;
  /*min-height:400px;*/
}
/*#content-column h2{
   color: #;
}*/

#side-column{
  display:block;
  float:left;
  width:380px;
  /*min-height:400px;*/
  background-color:#efefef;
}

#side-column h3{
  color:#666;
}

#side-column .spacer{
  padding:15px;
}

#side-column .divider{
  margin:15px 0;
}

#footer{
  font-size:85%;
  text-align:left;
  margin-top:10px;
  color:#666;
}

#footer a{
  margin-left:3px;
  padding-right:3px;
}

#footer div{
  margin-bottom:5px;
}

#footer-top-row a{
  color:#007EFB;
}

#footer-middle-row a{
  color:#007EFB;
}

/* -----------------------------*/
/* CONTENT ELEMENTS ------------*/
/* -----------------------------*/
#content-frame p{
  margin-bottom:10px;
}

#content-frame a{
  color:#007EFB;
}

#content-frame a:visited{
  color:#007EFB;  
}

/* -----------------------------*/
/* SIDE FORMS ------------------*/
/* -----------------------------*/
form.round-wide{
  color:#666;
}

form.round-wide h3{
  margin-bottom:7px;
  font-weight:bold;
  font-size:116%;
}

form.round-wide label{
  display:block;
  float:left;
  width:80px;
  margin-top:8px;
  padding-right:10px;
  font-size:93%;
  text-align:right;
}

form.round-wide input.inline{
  width:196px;
  height:21px;  
  margin-right:5px;
  padding:1px 5px 0 8px;
  background:transparent url(/images/bg-input-wide-alt.jpg) no-repeat scroll left top;
  border:0 none;
  color:#333;
  font-size:85%;
}

form.round-wide input.active{
  color:#999;
}

form.round-wide input.button{
  position:relative;
  top:5px;
  left:-17px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  form.round-wide input.button{
    top:5px;
  }
}

/* -----------------------------*/
/* SIDE SECTIONS ---------------*/
/* -----------------------------*/
div.section h3{
  margin-bottom:7px;
  font-weight:bold;
  font-size:116%;
  color:#666;
}

div.section p{
  margin-bottom:10px;
}

/* -----------------------------*/
/* SECTIONS CALLS --------------*/
/* -----------------------------*/
#section-calls{
  margin:30px 0 15px 0;
  background-color:#fff;
  padding:25px;
  overflow:auto;
  -moz-border-radius:12px;
  -webkit-border-radius:12px; 
  border-radius:12px;
}

#section-calls div{
  float:left;
  width:275px;
  border-right:1px solid #eaeaea; 
  margin-right:15px;
  padding-right:15px;
}

#section-calls div.last-child{
  border:0;
  margin-right:0;
  padding-right:0;
}

#section-calls p{
  margin-bottom:10px;
  min-height:65px;
}

/* -----------------------------*/
/* SECTIONS LINKS --------------*/
/* -----------------------------*/
ul.section-links li{
  margin-bottom:5px;
  font-size:116%;
}

/* -----------------------------*/
/* SITE SEARCH -----------------*/
/* -----------------------------*/
#cse-search-results iframe{
  width:510px;
}

/* -----------------------------*/
/* HOME FEATURE ----------------*/
/* -----------------------------*/
#home-feature{
  width:100%;
  margin-bottom:30px;
  overflow:auto;
  background-color:#fff;
  -moz-border-radius:12px;
  -webkit-border-radius:12px; 
  border-radius:12px;
}

/* -----------------------------*/
/* TEAM MEMBER -----------------*/
/* -----------------------------*/
img.team-member{
  float:left;
  margin:0 10px 0px 0;
  border:3px solid #ddd;
  -moz-border-radius:5px;
  -webkit-border-radius:5px; 
  border-radius:5px;
}

/* -----------------------------*/
/* ASSIST FACT SHEET -----------*/
/* -----------------------------*/
#printFactSheet{
  float:right;
}

/* -----------------------------*/
/* PRESSROOM -------------------*/
/* -----------------------------*/
div.article-summary{
  padding-bottom:10px;
  margin-bottom:10px;
  border-bottom:1px dashed #efefef;
}

p.meta-info{
  font-weight:bold;
  font-size:86%;
  color:#444;
  font-style:italic;
}

.small-header{
	font-size:0.8em;
	color:#CCC;
	margin-bottom:10px;
	clear:both;
}

.td{
	text-align:right;
}

#ownership{
	border-collapse:collapse;
	border:1px solid #000;
}

#ownership th{
	border:1px solid #000;
	padding:3px;
}

#ownership td{
	padding:2px;
}

#ownership thead{
	background-color:#2F00B2;
	color:#FFF;
	border-radius:5px;
	font-weight:bold;	
}

#offering{
	border-collapse:collapse;
	border:1px solid #000;
}

#offering td{
	border:1px solid #000;
	padding:5px;
}


