body{*font-size:small;*font:x-small;}
input,button,textarea,select{*font-size:100%;}

#column-wrapper{
}

#content-column{
  width:561px;
}

#section-calls{
}

#section-calls p{
  height:65px;
}

p.clear,
#section-calls p.clear{
  height:0px;
  margin:0;
  padding:0;
}

form.round-wide input.button{
  top:1px;
}