body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	margin: 50px;
	color: #666666;
}

label {
	margin: 0;
	padding: 0.2em;
	margin-top: 0.3em;
	text-align: right;
	width: 70px;
	float: left;
	text-transform: uppercase;
}

fieldset {
	background-color: #f6f6f6;
	border: solid 0 #fff;
	/* Opera doesn't get border:none or border:0 on fieldsets */
	width: 300px;
}

legend {
	width: 194px;
	height: 30px;
	color: #fff;
	font-size: 2em;
	padding-left: 0.5em;
	background: transparent url("graphics/legend_bg.gif") no-repeat;
	position: relative;
	top: -1em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -1px;
	white-space: pre; /* hack: make sure */
}

.br {
	display: none;
}

.textfield {
	font: 1.1em Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	margin: 3px;
	height: 20px;
	border: solid 0 #fff;
	padding: 3px 8px;
	background: transparent url("graphics/textfield_bg.gif") no-repeat fixed;
	width: 200px;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 187px;
}

fieldset>input.textfield {
	background: transparent url("graphics/textfield_bg.gif") no-repeat;
}

textarea {
	font: 1.1em Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	margin: 3px;
	height: 165px;
	border: solid 0 #fff;
	padding: 0 8px;
	background: transparent url("graphics/textarea_bg.gif") no-repeat fixed;
	width: 200px;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 190px;
}

fieldset>textarea {
	background: transparent url("graphics/textarea_bg.gif") no-repeat;
}

.submit {
	margin: 3px;
	background: transparent url("graphics/submit.gif") no-repeat;
	height: 20px;
	border: solid 0 #fff;
	width: 80px;
	font: 1.1em Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	text-transform: uppercase;
}