body{
  font-size:11px;
  font-family:Verdana, Arial, sans-serif;
  color:#333;
}

/***** HEADINGS *****/
h1{
  font-size:1.8em;
  margin-bottom:15px;
}

/***** ACTION BAR *****/
.actions{
  margin:5px 0;
  padding:5px;
  border:1px solid #e3e3e3;
  background-color:#f6f6f6;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;  
  border-radius:3px;  
}

.actions.narrow{
  width:435px;
}

.subNav{
  margin:10px 0;
}

.columnWrapper{
  overflow:hidden;
}

.columnWrapper .column{
  width:48%;
  float:left;
  min-width:450px;
  margin-right:10px;
}

a{
  color:#333;
  font-weight:bold;
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

a img{
	border:0;
}

/* --------------- FORMS --------------------- */
form.default{
}

form.default div{
  overflow:hidden;
  margin-bottom:10px;
}

form.default div.indent{
  text-indent:130px;
}

form.default label{
  display:block;
  float:left;
  width:120px;
  min-height:20px;
  line-height:20px;
  margin-right:15px;
  text-align:right;
  font-weight:bold;
}

form.default label span.required{
  color:#c00;
  font-weight:bold;
}

form.default label.inline{
  display:inline;
  float:none;
  width:auto;
  margin-right:10px;
  font-weight:normal;
  vertical-align:top;
  line-height:20px;
}

form.default input,
form.default textarea,
form.default select{
  font-size:11px;
  font-family:Verdana, Arial, sans-serif;
}

form.default p.fieldError{
  margin: 5px 0 5px 0;
  color:#c00;
  font-weight:bold;
}

form.default p.fieldErrorInline{
  margin: 5px 0 0 135px;
  color:#c00;
  font-weight:bold;
}

form.default span.fieldHint{
  color:#555;
  font-style:italic;
  line-height:20px;
  vertical-align:top;
}

form.default span.placeholder{
  line-height:20px;
  vertical-align:top;
}

form.default button.submit{
  margin-left:135px;
}

form.default button.inline{
  margin-left:0;
}

form.default span.cancel{
  margin-left:5px;
  color:#666;
}

form.default span.cancel a{
  text-decoration:none;
  color:#666;
  font-weight:bold;
}

form.default span.cancel a:hover{
  text-decoration:underline;
}

form.default fieldset.column{
  width:49%;
  float:left;
  min-width:450px;
  padding:0;
  background-color:#f9f9f9;
  border:0;
}

form.default fieldset.column h2{
  background-color:#f3f3f3;
  padding:5px;
}

/* --------------- DEFAULT TABLE -------------------- */
table.default{
  width:100%;
}

table.default th{
  background:url("jquery/images/ui-bg_highlight-soft_75_0b7dad_1x100.png") repeat-x scroll 100% 62% #024F8D;
  padding:5px 10px;
  color:#ffffff;
}

table.default td{
  background-color:#efefef;
  padding:5px 10px;
}

table.default tr.alt td{
  background-color:#ddd;  
}

table.default tr.over td{
  background-color:#A8BDCF;  
}

table.form{
  width:100%;
  margin-bottom:20px;
}

table.form thead th{
  text-align:left;
  padding:5px;
  background:url("jquery/images/ui-bg_highlight-soft_75_0b7dad_1x100.png") repeat-x scroll 100% 62% #024F8D;
  color:#ffffff;
  border-right:1px solid #fff;
}

table.form tbody td{
  padding:5px;
  background-color:#efefef;
}

table.form tbody tr.alt td{
  background-color:#e3e3e3;  
}

/* --------------- INFO TABLE -------------------- */
table.info{
  width:450px;
}

table.info tr{
  background-color:#efefef;
}

table.info tr th{
  width:30%;
  text-align:right;
  padding:5px 10px 5px 5px;   
  background:url("jquery/images/ui-bg_highlight-soft_75_0b7dad_1x100.png") repeat-x scroll 100% 62% #024F8D;
  color:#ffffff;
}

table.info tr td{
  width:70%;
  padding:5px;
}

/* --------------- ERRORS/DEBUG -------------- */
#db-error{
  margin:20px 0;
}

#session-message{
  margin:10px 0;
}

#user_setup_info{
  color:#fff;
}

/* --------------- QUERY UI -------------- */
.user-status{
  float:right;  
}

.user-status-inline{
  display:inline;
	display:inline-block;
}

/* --------------- FORM FILTER ----------- */
form.filter {
  margin:5px 0;
  border:1px solid #d7d7d7;
  background-color:#f8f8f8;
  padding:5px 10px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}

form.filter fieldset{
  margin-bottom:5px;
  padding:5px 0;
  border:0;
  border-bottom:1px dashed #e3e3e3;
}

form.filter fieldset:last-child{
  border:none;
  margin-bottom:0;
}

form.filter label{
  display:inline-block;
  text-align:right;
  padding:3px 2px 3px 5px;
}

form.filter select, 
form.filter input{
  padding:2px;
  margin-right:5px;
}

form.filter select.fixed-size-normal{
  width:150px;
}

form.filter select.fixed-size-small{
  width:100px;
}

form.filter select.fixed-size-widel{
  width:200px;
}

/* ---------------- PAGER ------------------- */
div.pager{
  margin-top:10px;
  background-color:#fcfcfc;
  border:1px solid #efefef;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
	border-radius:3px;  
  padding:7px 5px;
}

div.pager span.overview{
  margin-right:10px;
}

div.pager .page{
  border:1px solid #ccc;
  background-color:#ddd;
  padding:1px 4px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
	border-radius:3px;  
  color:#333;
  text-decoration:none;
}

div.pager .current{
  background:url("jquery/images/ui-bg_highlight-soft_45_024f8d_1x100.png") repeat-x scroll 50% 50% #024F8D;
  color:#fff;
  border:1px solid #024F8D;
}

/* ---------------- INFO WINDOW ------------------- */
#infoWindow{
	width:480px;
	height:400px;
	padding:15px;
	overflow:auto;
}
