#sitemap ul li a, #sitemap ul li a:visited{
	color: #000000;
}

#sitemap ul li a:hover{
	color: #FF6600;
}

#sitemap ul li.pSmall a, #sitemap ul li.pSmall a:visited{
	color: #666666;
}

#sitemap ul li.pSmall a:hover{
	color: #FF6600;
}

#sitemap h3 a, #sitemap h3 a:visited, h3#sitemap a, h3#sitemap a:visited{
	color: #E20A16;
}

#sitemap h3 a:hover, h3#sitemap a:hover{
	color: #FF6600;
}

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
	color: #000000;
	margin: 10px 0px 10px;
	padding: 0px 0px 0px 5px;
}

.pSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	font-weight: normal;
}

.pLine {
    margin: -10px 0px 20px;
}

.pLi {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 10pt;
	padding: 0px;
	text-align: left;
	font-weight: normal;
	margin: 5px 5px 10px 30px;
}

select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	color: #000000;
}

hr {
    color: #dd1a20;
    margin-top: 15px;
}

ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	margin-top: 5px;
	margin-bottom: 10px;
	list-style-position: outside;
	clear: left;
	list-style-image: url(/pics/bullet.gif);
}

ol {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	margin-top: 5px;
	margin-bottom: 10px;
	list-style-position: outside;
	clear: left;
}
	
ul li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 10pt;
	margin: 0px 5px 5px -20px;
	padding: 0px;
	text-align: left;
	font-weight: normal;
}

ol li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 10pt;
	margin: 0px 5px 5px -10px;
	padding: 0px;
	text-align: left;
}

.ul2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	margin-top: 5px;
	margin-bottom: 10px;
	list-style-position: outside;
	clear: left;
	list-style-image: url(pics/bullet2.gif);
	font-weight: normal;
}
.ul3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	margin-top: 5px;
	margin-bottom: 10px;
	list-style-position: outside;
	clear: left;
	list-style-image: url(pics/bullet3.gif);
	font-weight: normal;
}
.ul4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	margin-top: 5px;
	margin-bottom: 10px;
	list-style-position: outside;
	clear: left;
	list-style-image: url(pics/bullet4.gif);
	font-weight: normal;
}
.ulb {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	margin-top: 5px;
	margin-bottom: 10px;
	list-style-position: outside;
	clear: left;
	list-style-image: url(pics/blank.gif);
	font-weight: normal;
}


.oltitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 10pt;
	margin: 0px 5px 5px -5px;
	padding: 0px;
	text-align: left;
	font-weight: bold;
}

.lilib {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 9pt;
	margin: 0px 1px 1px -25px;
	padding: 0px;
	text-align: left;
}

h1 {
	font-size: 17pt;
	margin: 10px 0px 15px;
	padding: 0px 0px 2px 2px;
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	color: #cc0001;
	letter-spacing: 0.07em;
	line-height: 22px;
	font-weight: bold;
	text-decoration: underline;
}

.red {
	color: #cc0001;
}

.blue {
	color: #000098;
}

.green {
	color: #006600;
}

.orange {
	color: #fe9900;
}

h2 {
	font-size: 14pt;
	margin: 20px 0px 10px;
	padding: 0px;
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	color: #dd1a20;
	letter-spacing: 0.07em;
    font-weight: bold;
	line-height: 22px;
}

h3 {
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #dd1a20;
	font-weight: normal;
	letter-spacing: 0.07em;
	margin: 10px 0px 10px;
	padding: 0px;
}

.sectionright {
	color: #dd1a20;
}

h4 {
	font-family:  Verdana, Arial, Helvetica, sans-serif;  
	font-size: 9pt;
	font-weight: bold;
}

h5 {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #D1000C;
	letter-spacing: 0.07em;
	margin: 0px 0px;
	padding: 0px;
}

.subH1 {
	font-size: 13.5pt;
	color: #666666;
	font-style: italic;
	line-height: 17px;
	font-family: "Times New Roman", Times, serif;
}

.homeTitle {
	font-size: 18px;
	margin: 0px 0px 0px;
	padding: 0px 0px 3px 2px;
	line-height: 18px;
	font-weight: normal;
	text-align: right;
	word-spacing: 0.01em;
}

.homeLeaderText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	color: #666666;
	margin: 0px 0px 10px;;
	padding: 0px;
}

a {
	color: #CC0001;
}

a:visited {
	color: #444444;
}

a:hover {
	color: #FF6600;
}

a:active {
	color: #FF6600;
}

.header {
	color: #FFFFFF;
}

table {
	border-collapse: collapse;
	border: solid 1px #ababab;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
	color: #000000;
	border: solid 1px #ababab;
	padding: 3px;
}

th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	text-align: center;
	font-weight: bold;
	line-height: 12pt;
	color: #ffffff;
	padding: 5px 5px 5px 5px;
	border: solid 1px #ffffff;
}

.noborder {
	border: solid 0px #ffffff;
}

.intro {
	font-family: "Times New Roman", Times, serif;
	font-size: 11pt;
	color: #00377C;
	font-style: italic;
	font-weight: normal;
}

.bottomnav{ 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal; 
	color: #FFFFFF;
}

table.tclass {
     border-style: solid;
     border-collapse: collapse;
}

TD.bottomnav a {
	color: #FFFFFF;
	text-decoration: none;
}

.TDgeneral {
	color: #000000;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}


.TDerror {
	color: #dd1a20;
	background-color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}

.TDok {
	color: #00984b;
	background-color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-style: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}

.TDrequired {
	color: #000000;
	background-color: #FFFFFF;
	text-decoration: none;
	font-style: italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}

.TDheader {
	color: #ffffff;
	text-align: center;
	background-color: #cc0001;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}
.TDheaderred {
	color: #ffffff;
	text-align: center;
	background-color: #cc0001;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}
.TDheaderredl {
	color: #ffffff;
	text-align: left;
	background-color: #cc0001;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}

.TDheaderblue {
	color: #ffffff;
	text-align: center;
	background-color: #000098;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}
.TDheaderbluel {
	color: #ffffff;
	text-align: left;
	background-color: #000098;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}

.TDheadergreen {
	color: #ffffff;
	text-align: center;
	background-color: #006600;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}
.TDheadergreenl {
	color: #ffffff;
	text-align: eft;
	background-color: #006600;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}

.TDheaderorange {
	color: #ffffff;
	text-align: center;
	background-color: #fe9900;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}
.TDheaderorangel {
	color: #ffffff;
	text-align: eft;
	background-color: #fe9900;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}

.TDbody {
	color: #000000;
	background-color: #fef6f7;
	font-weight: normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 10pt;
}

TD.bottomnav a:visited {
	color: #FFFFFF;
}

TD.bottomnav a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

TD.bottomnav a:active {
	color: #FFFFFF;
}

input {
    font-size: 8pt;
}

textarea {
    font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
}

select {
    font-size: 8pt;
}

.info {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-weight: normal;
}

.infotitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #D1000C;
	horizontal-align: center;
}

.arrow {
	vertical-align: middle;
}

.box {
	border: 1px dashed #A7A7A7;
	padding: 5px;
	background-color: #FBFBFB;
}

.butt {
	padding: 3px 0px 2px 0px;
/*	background-color: #dd1a20;
//	border: 1px solid;
//	border-color: #f08082;
*/	vertical-align: middle;
	border: 1px outset;
	border-color: #dfdfe0;
	border-left: 1px solid #dfdfe0;
	border-right: 1px solid #a2a2a3;
	border-top: 0px;
	border-bottom: 0px;
}

.button {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	margin: 0px 0px 0px 0px;
	line-height: 10pt;
    background-image: url('pics/button2.gif');
	padding: 2px 0px 2px 0px;
    border: 1px outset #f1f1f2;
	white-space: nowrap;
}

.buttonG {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
	line-height: 10pt;
    background-image: url('pics/button-greend.gif');
	padding: 2px 0px 2px 0px;
    border: 1px solid;
    border-color: #006600;
	white-space: nowrap;
}

.buttonB {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
	line-height: 10pt;
    background-image: url('pics/button-blued.gif');
	padding: 2px 0px 2px 0px;
    border: 1px solid;
    border-color: #000099;
	white-space: nowrap;
}

.buttonO {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
	line-height: 10pt;
    background-image: url('pics/button-oranged.gif');
	padding: 2px 0px 2px 0px;
    border: 1px solid #fe9900;
	white-space: nowrap;
}

.buttonR {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
	line-height: 10pt;
    background-image: url('pics/button-redd.gif');
	padding: 2px 0px 2px 0px;
    border: 1px solid #cc0000;
	white-space: nowrap;
}

.buttonX {
	background-color: #dd1a20;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-color: #ffffff;
	padding: 1px;
	margin: 0px 1px 1px 0px;
	clip:  rect(0px 0px 0px 0px);
	border: 0px solid;
	line-height: 10px;
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #CC0000;
	font-style: italic;
	margin-bottom: 20px;
}

.quoteName {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #333333;
	font-weight: normal;
}

.quoteBig {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10.5pt;
	font-weight: bold;
	color: #CC3333;
	margin-bottom: 15px;
}

.quoteBigName {
	color: #000000;
	font-weight: normal;
}

.imgSection{
	margin: 22px 0px 10px 0px;
	border: 1px solid #999999;
	padding: 0px;
}

.memberAffiliate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 8pt;
	color: #666666;
	margin: 4px 0px 2px;
	padding: 0px;
}

.img {
	margin: 0px;
	border: 1px solid #999999;
	padding: 0px;
}

.imgLeft {
	margin: 3px 10px 0px 0px;
	border: 1px solid #999999;
	padding: 0px;
	float: left;
}

.imgRight {
	margin: 3px 0px 0px 10px;
	border: 1px solid #999999;
	padding: 0px;
	float: right;
}

.imgMember {
	margin: 0px 0px 5px;
	border: 1px solid #EFEFEF;
	padding: 0px;
}

.imgEnd {
	margin: 10px 0px 0px;
	border: 0px solid #999999;
	padding: 0px;
	float: right;
}

.sectionLinksBox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
	border: 1px dashed #999999;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	overflow: visible;
	display: table;
	width: auto;
	background-color: #FBFBFB;
}
.subSection {
	font-size: 18px;
	background-image: url(/pics/header_back.gif);
	margin: 15px 0px 10px;
	padding: 0px 20px 3px 2px;
	font-family: "Times New Roman", Times, serif;
	color: #D1000C;
	background-position: right bottom;
	background-repeat: no-repeat;
	letter-spacing: 0.07em;
	line-height: 18px;
	font-weight: normal;
	clear: right;
}

.subSectionTop {
	font-size: 18px;
	background-image: url(/pics/header_back.gif);
	margin: 0px 0px 10px;
	padding: 0px 0px 3px 2px;
	font-family: "Times New Roman", Times, serif;
	color: #D1000C;
	background-position: right bottom;
	background-repeat: no-repeat;
	letter-spacing: 0.07em;
	line-height: 18px;
	font-weight: normal;
}

.subSubH1 {
	font-size: 11pt;
	color: #666666;
	font-style: italic;
	line-height: 17px;
	font-family: "Times New Roman", Times, serif;
}

/* Dynamic Navigation Styles*/
.menu{
	margin: 0px;
	padding: 0px;
/*	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #666666;
	border-bottom-color: #666666;
	overflow: visible;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
*/	z-index: 1;
	visibility: hidden;
	position: absolute;
}

.mainnav a {
	padding: 3px 2px 2px 5px;
	color: #ffffff;
	width: 100%;
	margin: 1px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	display: block;
	text-decoration: none;
	border: none;
}

.subnav a {
	padding: 2px 3px 2px 5px;
	color: #000000;
/*	background-color: #000080;*/
	background-color: #ffffff;
	width: 100%;
	margin: 0px;
	border-bottom: 1px solid #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	display: block;
	text-decoration: none;
}

.subnav a:hover {
	background: #f8c4c5;
	color: #000000;
}

.mainnav a:hover {
	background: #bd0c0f;
	color: #ffffff;
}

.mainnav a:visited {
	color: #ffffff;
}

.subnav a:visited {
	color: #000000;
}

td a.subnav_active {
	background-color: #bd0c0f;
}

td a.subnav_active:visited {
	color: #ffffff;
}

td a.nolink{
	text-decoration: none;
	cursor: default;
}

td a.nolink_active, td a.nolink_active:visited {
	background-color: #CC3333;
	padding: 5px;
	margin: 0px;
	text-decoration: none;
	color: #FFFFFF;
}

.imgNav {
	float: right;
	margin: 2px 4px 4px;
	border: 0px none;
	padding: 0px;
}
/*End of Navigation styles*/