@charset "utf-8";
/* CSS Document */
body{
	font-size:0.7em;
}
#menulist{
	clear:both;
	list-style:none;
}
#menulist li{
	display:inline;
	float:left;
	width:150px;
}
table{
	font-size:12px;
}

.submenu{
	display:inline;
	list-style:none;
	clear:both;
}
.submenu li{ 
	float:left;
	width:auto;
	margin-left:0px;
}
.message{
	width:100%;
	position:fixed;
}

.breadcrumbs{
	text-decoration:none;
}

.removeattach{
	color:#E42217;
}

.headers{
	font-size:15px;
	font-weight:400;
}
.list_links {
	display:inline;
	float:left;
}