.fc {color: #FE9900}
.bc {background-color: #FE9900}
.grey {color: #444444;}
a {color: #FE9900;}
a:hover {color: #FE9900;}
a:active {color: #FE9900;}

table th {
	background-color: #FE9900;
}

h1 {
	color: #FE9900;
}
h2 {
	color: #FE9900;
}
h3 {
	color: #FE9900;
}
h4 {
	color: #FE9900;
}


.TDheader {
	color: #ffffff;
	text-align: center;
	background-color: #FE9900;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}
.TDheaderl {
	color: #ffffff;
	text-align: left;
	background-color: #FE9900;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 12pt;
}

/* JQUERY - Display Result Color */
.ui-state-highlight-green, .ui-widget-content .ui-state-highlight-green, .ui-widget-header .ui-state-highlight-green  {border: 1px solid #009900; background: #f7fff7 ; color: #333333; }
.ui-state-highlight-green a, .ui-widget-content .ui-state-highlight-green a,.ui-widget-header .ui-state-highlight-green a { color: #333333; }
.ui-state-error-red, .ui-widget-content .ui-state-error-red, .ui-widget-header .ui-state-error-red {border: 1px solid #cc0001; background: #fef1ec url(../images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x; color: #cc0001; }
.ui-state-error-red a, .ui-widget-content .ui-state-error-red a, .ui-widget-header .ui-state-error-red a { color: #cc0001; }
.ui-state-highlight-green .ui-icon {background-image: url(/lib/jquery/css/images/ui-icons_009900_256x240.png); }
.ui-state-error-red .ui-icon, .ui-state-error-text .ui-icon {background-image: url(/lib/jquery/css/images/ui-icons_cc0001_256x240.png); }

