@charset "utf-8";
/* CSS Document */
body{
	font-size:0.7em;
}
#menulist{
	clear:both;
	list-style:none;
}
#menulist li{
	display:inline;
	float:left;
	width:150px;
}
table{
	font-size:12px;
}

.submenu{
	display:inline;
	list-style:none;
	clear:both;
}
.submenu li{ 
	float:left;
	width:auto;
	margin-left:0px;
}
.message{
	text-align:center;
	color:#00000;
	width:auto;
	height:auto;
	position:fixed;
	_position : static;
	_top : 0px;
	top : 0px;
	padding:8px 5px 0px 20px;
	display:none;
	font-size:14px;
	font-weight:bold;
	margin-left:500px;
	margin-top:0px;
}


select{
	width:300px;
}
input[type='text']{
	width:300px;
	height:30px;
}